name: ci

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11.7
      - name: Install lint dependencies
        run: python3 -m pip install types-requests
      - name: linters
        run: make lint -j$(nproc)

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11.2
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.4.0
      - name: unittests
        run: make tests
        env:
          NOTION_KEY: ${{ secrets.NOTION_KEY }}
          NOTION_ALLOCATIONS_DATABASE_ID: ${{ secrets.NOTION_ALLOCATIONS_DATABASE_ID }}
          NOTION_CREW_DATABASE_ID: ${{ secrets.NOTION_CREW_DATABASE_ID }}
          NOTION_FINANCIAL_DATABASE_ID: ${{ secrets.NOTION_FINANCIAL_DATABASE_ID }}
          NOTION_WORKINGHOURS_DATABASE_ID: ${{ secrets.NOTION_WORKINGHOURS_DATABASE_ID }}
          NOTION_DEFAULT_RATES_DATABASE_ID: ${{ secrets.NOTION_DEFAULT_RATES_DATABASE_ID }}
          NOTION_CURRENCY_RATES_DATABASE_ID: ${{ secrets.NOTION_CURRENCY_RATES_DATABASE_ID }}
          NOTION_EXCEPTIONS_RATES_DATABASE_ID: ${{ secrets.NOTION_EXCEPTIONS_RATES_DATABASE_ID }}
          NOTION_INTERNAL_RATES_DATABASE_ID: ${{ secrets.NOTION_INTERNAL_RATES_DATABASE_ID }}
          JIRA_USER: ${{ secrets.JIRA_USER }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          TEMPO_KEY: ${{ secrets.TEMPO_KEY }}
      # TODO: This needs to be moved into proper unittests
      - name: notion
        run: make check_notion
        env:
          NOTION_KEY: ${{ secrets.NOTION_KEY }}
          NOTION_ALLOCATIONS_DATABASE_ID: ${{ secrets.NOTION_ALLOCATIONS_DATABASE_ID }}
          NOTION_CREW_DATABASE_ID: ${{ secrets.NOTION_CREW_DATABASE_ID }}
          NOTION_FINANCIAL_DATABASE_ID: ${{ secrets.NOTION_FINANCIAL_DATABASE_ID }}
          NOTION_WORKINGHOURS_DATABASE_ID: ${{ secrets.NOTION_WORKINGHOURS_DATABASE_ID }}
          JIRA_USER: ${{ secrets.JIRA_USER }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

  ci:
    needs: [lint, tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: make build -j$(nproc)
      - name: gcp auth
        if: github.ref == 'refs/heads/main'
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: "${{ secrets.GCP_JSON_KEY }}"
      - name: setup gcloud sdk
        if: github.ref == 'refs/heads/main'
        uses: "google-github-actions/setup-gcloud@v0"
      # Configure docker to use the gcloud command-line tool as a credential helper
      - name: docker login
        if: github.ref == 'refs/heads/main'
        run: |
          gcloud auth configure-docker europe-north1-docker.pkg.dev -q
      - name: docker push
        if: github.ref == 'refs/heads/main'
        run: make push
      - name: deploy
        if: github.ref == 'refs/heads/main'
        run: make deploy

  sphinx:
    needs: [ci]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11.2
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.4.0
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Build
        run: make docs
      - name: Publish
        if: github.ref == 'refs/heads/main'
        run: |
          git config --global user.email "automation@verifa.io"
          git config --global user.name "Verifa Automation"
          rm .gitignore
          cp -r docs/_build/html/* docs
          git add . && git commit -m "Generates docs"
          git push origin HEAD:sphinx-deploy --force
